<div class="fixed inset-0 mx-0 max-w-none overflow-hidden pointer-events-none dark:opacity-100">
  <div class="absolute left-1/2 top-[-14.5px] ml-[-41.5rem] h-[25rem] w-[80rem] dark:[mask-image:linear-gradient(white,transparent)]">
    <div
      class="absolute inset-0 bg-gradient-to-r from-blue-500/30 to-blue-800/30 opacity-50 [mask-image:radial-gradient(farthest-side_at_top,white,transparent)] dark:from-blue-500/30 dark:to-blue-800/30 dark:opacity-100"
    >
    </div>
  </div>
</div>