<div class="fixed inset-0 mx-0 max-w-none overflow-hidden hidden md:block pointer-events-none dark:opacity-100">
  <div class="absolute left-1/2 top-[-14.5px] ml-[-41.5rem] h-[25rem] w-[80rem] dark:[mask-image:linear-gradient(white,transparent)]">
    <div
      class="absolute inset-0 bg-gradient-to-r from-cyan-400/20 via-blue-600/30 to-indigo-900/50 opacity-70 [mask-image:radial-gradient(farthest-side_at_top,white,transparent)] dark:from-cyan-400/20 dark:via-blue-600/30 dark:to-indigo-900/50 dark:opacity-100"
    ></div>
  </div>
</div>